body{
    font-family: sans-serif;
    max-width: 1300px;
    margin: auto;
    background: #f9f9f9;
}
thbody tr:nth-child(odd){
  background-color: #ffffff;
}
tbody tr:nth-child(even) {
  background-color: #f5dec4;
}
h2{
    text-align: center;
}
.filter-bar{
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.search-wrapper {
  position: relative;
  flex: 2;             
}
.filter-bar input,
.filter-bar select{
  padding: 8px;
  font-size: 16px;
}
#searchInput{
  width: 100%;
  box-sizing: border-box;
}
#categorySelect{
  flex: 1;
}
.or-text {
  font-weight: bold;
  color: #555;
  white-space: nowrap;
}
.suggestion-box {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 1000;
  display: none;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);

}
.suggestion-item{
  padding: 8px;
  cursor: pointer;
}
.suggestion-item:hover{
  background: #f0f0f0;
}
.suggestion-item.active {
  background: #bebebe;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
th,td {
  padding: 10px;
  text-align: center;
}
th:nth-child(2),td:nth-child(2){
  width: 20%;
}
th:nth-child(3),td:nth-child(3){
  width: 15%;
}
th:nth-child(4),td:nth-child(4){
  width: 25%;
}

@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  .filter-bar {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .search-wrapper {
    margin-bottom: 4px;
  }

  #searchInput {
    width: 100%;
    font-size: 16px;
  }

  .suggestion-box {
    position: static;   
    width: 100%;
    margin-top: 4px;
    box-shadow: none;
  }


  #categorySelect {
    width: 100%;
    font-size: 16px;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .or-text {
    display: none;
  }

  #table-wrapper {
    overflow-x: auto;
  }

  table {
    width: 100%;
  }
}